.App {
  // text-align: center;
}

.container {
  margin-top: 80px;

  @media (max-width: 335px) {
    margin-top: 120px
  }
}

.spanIB {
  display: inline-block;
}

.StyleImage {
  cursor: pointer;
}

i {
  font-size: 2em;
}
#fb-share {
  color: #3B5998;
}
#tw-share {
  color: #1DA1F2;
}