$body-bg: #EEEEEE;
$body-color: #2B2B2B;
$dark: #112233;
$primary: #336677;
$warning: #AA2233;
$enable-responsive-font-sizes: true;

@import '~bootstrap/scss/bootstrap';

html {
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.navbar-brand {
  font-family: 'Damion', cursive;
  font-size: 2em;
  padding-top: 0;
  padding-bottom: 0;
}

.App {
  // text-align: center;
}

.container {
  margin-top: 80px;

  @media (max-width: 335px) {
    margin-top: 120px
  }
}

.spanIB {
  display: inline-block;
}

.StyleImage {
  cursor: pointer;
}

i {
  font-size: 2em;
}
#fb-share {
  color: #3B5998;
}
#tw-share {
  color: #1DA1F2;
}
#pin-share {
  color: #E60023;
}
